html, body {
	margin-top: 0;
        margin-left: 1;
	padding: 0;
}

body {
	background-color:transparent;
	width:360px;
	text-align:center
}
article {
	word-wrap: break-word;
	padding: 2px;
	overflow: hidden;
	margin-bottom: 5px;
	background-color:Lavender;
	 -moz-box-shadow: 0px 5px 12px rgba(000,000,000,0.5);
	 -webkit-box-shadow:0px 5px 12px rgba(000,000,000,0.5);
	 box-shadow:0px 5px 12px rgba(000,000,000,0.5);
}
table {
   text-align:center;
   width:350px;
   border-spacing:0;
   border:2px solid green;
   margin: 0;
}
td {
   text-align:center;
}
#aa {
     color:Maroon;
	 background-color:Cyan;
	 text-shadow:MediumSeaGreen 1px 1px 1px;
	 font-size:26px;
	 width:340px;
	height:200px;
	margin: 0;
	padding: 0;
}
#ab {
     color:Maroon;
	 background-color:Cyan;
	 text-shadow:MediumSeaGreen 1px 1px 1px;
	 font-size:20px;
	 width:280px;
	height:60px;
	margin: 0;
	padding: 0;
}

#teal {
     background-color:green;
}
#border {
     border-right:2px solid teal;
     border-top:2px solid teal;
     border-left:2px solid teal;
      border-bottom:2px solid teal;
}
#footer {
	background-color:green;
	font-size:20px;
	text-align:center;
	color:orange;
	text-shadow:black 1px 1px 1px;
	width:99%;
	margin: 0;
	padding: 0;
}
div {
    width:340px;
	height:200px;
	position:relative;
	overflow:hidden;
}
iframe {
    position:absolute;
	width:330px;
	height:200px;
	top:16px;
	right:-0px;
}
iframe2 {
    position:absolute;
	width:340px;
	height:500px;
	top:2px;
	right:2px;
}
